.landingPageMain {
  text-align: center;
  width: 80%;
  //border: 1px solid red;
  margin: auto;

  section {
    display: flex;
    flex-direction: column;

    div {
      background-color: lightgray;
      padding: 20px;

      &:nth-child(even) {
        background-color: lighten(#ddd, 6%);
      }
    }

    p {
      color: gray;
    }
  }
}
