$red: #aa4b41;
$grey: #d4dde1;
$black: #2d3033;
$green: #335252;

.taskItem {
  display: flex;
  border: 2px solid $green;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;

  h3 {
    padding-left: 10px;
    color: $green;
  }

  button {
    height: 25px;
    margin-right: 10px;
  }

  .delete {
    margin-left: auto;
  }

  .start {
    background-color: lightgreen;
  }
}
