$red: #aa4b41;
$grey: lighten(#d4dde1, 10%);
$black: #2d3033;
$green: #335252;

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* set html and body height: 100% with container height: 100% will have container respond accordingly  */
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: $grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
